@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    /* font fornito dal prof, Luca */
    font-weight: 400;
    /* grossezza del testo per differenziarlo dal grasstto, Luca */
    font-family: "Inter", sans-serif;
}




body {
    background-image: url("../img/bg.jpg");
    /* carico l'immagine di sfondo, Luca */
    background-size: cover;
    /* cover = copre la grandezza del body, Luca */
    color: white;
    /*aggiunta mia per la seconda pagina insieme vediamo se tenerla o cambiarla, Carmine*/
}

.bodyDiv {
    color: white;
    /* colore bianco alle scritte, Luca */
    padding: 4% 8%;
}

.opacityDiv {
    transition-duration: 0.3s;
    user-select: none;
}


#btnPromise {
    cursor: pointer;
    transition-duration: 0.3s;
}

.mainFeed {
    margin: 2em auto;
    text-align: center;
    font-size: 1.8em;
}

.mainFeed p {
    /* PROVA TEAM JS */
    margin: 2rem 10rem;
    font-weight: 100;
}

.logo {
    height: 3em;
    /* imposto la grandezza del logo, Luca */
    margin-left: 6%;
    margin-bottom: 4%;
}

span {
    font-weight: bold;
    /* ogni span sara grassetto, Luca */
}

.title-first-page span,
.title-first-page {
    /* formattazione titolo pagina principale */
    font-size: 120px;
    line-height: 100px;
    font-family: "Outfit", sans-serif;

}

.title_allPages h1 {
    font-size: 60px;
    font-weight: bold;
    line-height: 0px;
}

.title_allPages h2 {
    font-size: 1.15em;
    font-family: "Outfit", sans-serif;
}

.title_allPages {
    margin-bottom: 50px;
}


#instructions {
    color: #C2158E;
    /* colore dell'instruction prima pagina, Luca */
    font-size: 3em;
    font-weight: bold;
}

.instructionsText {
    margin-right: 20em;
    font-size: 1.5em;
}

main .logo-img {
    /* margini da applicare presumibilmente a tutte le pagine, Luca */
    margin-left: 7%;
    margin-top: 3%;
}

ul {
    line-height: 25px;
    margin-bottom: 4em;
}

.indexButton {
    float: right;
    margin-right: 7%;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    border: none;
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.feedbackButton {
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    border: none;
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
    transition-duration: 0.3s;
    cursor: pointer;

}

input[type="checkbox"] {
    opacity: 0;
    position: relative;
    left: 25px;
}

.personalCheckbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #cccccc00;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1.5em;
}

.personalCheckbox:after {
    content: "⅃";
    color: #920869;
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #920869;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked+.personalCheckbox {
    background-color: #8208923f;
}


input[type="checkbox"]:checked+.personalCheckbox:after {
    display: inline-block;
}

form p {
    display: inline-block
}

/* Colora tutte le stelle fino alla stella su cui si trova il mouse */

.rate1 {
    display: inline-block;
    margin-bottom: 50px;
}

.star {
    color: #ffffff3a;
    display: inline-block;
    font-size: 1.8em;
    transition-duration: 0.3s;
}


.star:hover {
    transform: scale(1.2);
}

.rate i {
    margin: 0;
}

.rate i:hover~i {
    color: #cecece;
}

.rate:hover i {
    color: #00FFFF;
}

.rate i {
    cursor: pointer;
}

.rate .clickStar {
    color: #00FFFF;
}

/* Colora tutte le stelle fino alla stella su cui si trova il mouse */

#feedback {
    color: white;
    width: 60rem;
    background-color: transparent;
    border: none;
    outline: none;
    align-self: left;
    border-bottom: #C2158E solid 2px;
    margin: 1em 0;
    font-size: 23px;
    padding: 0.5em 2em;
}


.click:hover {
    background-color: #fc1c8c;
}

#question {
    margin: 0 10em;
    line-height: 3em;
    margin-top: 100px;
}

#question h1 {
    font-size: 300%;
    text-align: center;
    /*LUCA questo lo vedi?*/
}

#countQuestions span {
    color: #C2158E;
}

#countQuestions {
    position: fixed;
    top: 85%;
    right: 80%;
}


#answers {
    text-align: center;
    margin: 4.5rem;
}

.answersDiv {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: calc(49% - 30px);
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 15px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #54545428;
}

.answersDiv:hover {
    /* QUANDO PASSI COL CURSORE */
    /* background: rgb(2,0,36); */
    background-color: rgba(106, 106, 106, 0.342);
}

.click {
    background: linear-gradient(173deg, #CC0092 0%, #b1009c 35%, #8A0079 100%);
}


/* ----------- modifiche mockup domande 03 07 --------------- */


.btnAvanti {
    /* bottone per andare avanti nelle domande, Luca */
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 25px;
    padding-left: 25px;
    font-weight: bold;
    margin-right: 7%;
    transition-duration: 0.3s;
    
}

.rateUs {
    /* bottone per andare avanti nelle domande, Luca */
    border: 1px solid white;
    background-color: #0b113b1e;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.2);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.2);
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    font-weight: bold;
    margin-bottom: 60px;
}

#btnAvanti {
    position: fixed;
    top: 85%;
    left: 75%;
    /* float: right; */
}

@keyframes circletimer {
    0% {
        stroke-dashoffset: 500;
        stroke-dasharray: 500;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 500;
    }
}

#timer p {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
}


.timerCircle {
    position: absolute;
    top: 5%;
    right: 15%;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

svg {
    background-color: transparent;
    transform: rotateZ(-90deg);
}

svg .circle {
    stroke: #00FFFF;
    stroke-width: 20;
    fill: transparent;
    stroke-dashoffset: 500;
    stroke-dasharray: 0;
    animation: 10s circletimer linear infinite;
}

.seconds,
.remaining {
    font-size: 0.8em;
    position: absolute;
}

.seconds {
    top: 20%;
}

.remaining {
    top: 60%;
}

#graphicResults {
    position: relative;
}

#textResults p,
#textResults h4 {
    margin: 0;
}

#textResults h4 {
    font-size: 1.1em;
}

#textResults p {
    margin: 30px 85px 0 85px;
}

#textResults {
    position: absolute;
    bottom: 27%;
    font-size: 0.6em;
}

.resultsText h2 {
    font-size: 2em;
    margin: 0;
    line-height: 60px;
}

.resultsText p {
    margin: 0;
}

.resultsText {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 0 80px;
}

.resultsText h2 {
    font-family: "Outfit", sans-serif;
}


#myDoughnutChart {
    width: 400px !important;
    height: 400px !important;
}


.inline {
    margin-bottom: 60px;
    text-align: center;
}




/* CONFETTI */

.confetti {
    position: fixed;
    top: 0;
    width: 7px;
    height: 7px;
    background: red;
    opacity: 0.9;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh);
    }
}

/* prove per il html2pdf */

#name1 {
    width: 20%;
    height: 3vh;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    align-self: left;
    border-bottom: #C2158E solid 2px;
    margin: 1em 0;
    font-size: 1.2em;
}

#name1::placeholder {
    padding-left: 10px;
    font-size: 0.8em;
}


.absolute {
    display: none;
    position: absolute;
    width: 720px;
    height: 405px;
    right: 2%;
    bottom: 60%;
    transform: scale(0.5);
}

.absolute:before,
.block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
            #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}





#certificazioneDiv {
    position: relative;
    width: 720px;
    height: 405px;
    margin: 0;
    padding: 0;
}

#certificato {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0;
    margin: 0;
}

#nameCertificato {
    font-size: 3em;
    position: absolute;
    top: 29%;
    left: 9.5%;
}

#dateCertificato {
    position: absolute;
    font-size: 0.9em;
    top: 75%;
    left: 9.5%;
}

#generatePDF {
    cursor: pointer;
    font-size: 2.8em;
    position: relative;
    bottom: 80%;
    left: 48%;
    transition-duration: 0.3s;
    opacity: 0.5;
}

#generatePDF:hover {
    transform: scale(1.3);
    opacity: 1;
}


.verde {
    padding-left: 20px;
    color: green;
}

.rosso {
    padding-left: 20px;
    color: red;
}

#questionsResults ul {
    margin: 0;
    padding: 0;
}

#questionsResults {
    border-radius: 25px;
    box-shadow: 10px 10px 40px -8px rgba(0, 255, 255, 0.2);
    padding: 15px 50px;
    background-color: rgba(0, 255, 255, 0.04);
}


#questionsResults li p,
#questionsResults li {
    font-family: 'Outfit', sans-serif;
}

#questionsResults li {
    position: relative;
    font-size: 1.4em;
    list-style: none;
    user-select: none;
    cursor: pointer;
    margin: 30px 0;
    border-bottom: 1px solid rgba(0, 255, 255, 0.3);
    padding-bottom: 15px;
}

#questionsResults li div {
    cursor: default;
    margin-left: 70px;
    margin-top: 15px;
}

#questionsResults li div p {
    margin: 0px;
    margin-bottom: 3px;
}

.hidden {
    display: none;
    font-size: 0.7em;
}

.rightClass {
    position: absolute;
    right: 1%;
    font-size: 0.7em;
    transition-duration: 0.3s;
}


.classX::before {
    content: '\f057';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
    margin-right: 20px;
    margin-left: 10px;
    color: rgba(255, 0, 0, 0.7);
}

.classV::before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-weight: 100;
    margin-right: 20px;
    margin-left: 10px;
    color: rgba(0, 128, 0, 0.7);
}





#tornaSuBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;
}

.torna-su svg {
    fill: rgba(0, 255, 255, 0.5);
    width: 30px;
    transition-duration: 0.3s;
    transform: rotate(0deg);
}

.torna-su svg:hover {
    scale: 1.2;
    fill: #00FFFF;
}

/* alert button */

.alertButton {

    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    border: none;
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;

    position: absolute;
    top: 68%;
    left: 75%;

}

.divAlert {
    font-size: 1.2em;
    overflow-wrap: break-word;
    position: relative;
    width: 25vw;
    height: 120px;
    border: 2px solid #17192B;
    border-radius: 5px;
    padding: 30px 50px;
    background-image: url(../img/bg.jpg);
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 209, 255, 0.308);
    box-shadow: 0px 0px 21px 7px rgba(43, 209, 255, 0.308);
    position: fixed;
    top: 20px;
    right: 0%;
    left: 0%;
    margin: auto;
    font-family: "Arial", sans-serif;
    color: white;
    background-size: cover;


}


.invisible {
    height: 100%;
    width: 110%;
    position: fixed;
    top: 0;
    background-color: white;
    opacity: 0;
}