* {
    font-family: "Inter", sans-serif;
    /* font fornito dal prof, Luca */
    font-weight: 100;
    /* grossezza del testo per differenziarlo dal grasstto, Luca */
}

@font-face {
    font-family: "Inter";
    src: url("/assets/font/Inter-Regular.ttf") format("regular");
    src: url("/assets/font/Inter-Black.ttf") format("black");
    src: url("/assets/font/Inter-Bold.ttf") format("bold");
    src: url("/assets/font/Inter-Light.ttf") format("light");
    src: url("/assets/font/Inter-Medium.ttf") format("medium");
    src: url("/assets/font/Inter-Thin.ttf") format("thin");

    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/bg.jpg");
    /* carico l'immagine di sfondo, Luca */
    background-size: cover;
    /* cover = copre la grandezza del body, Luca */
    color: white; /*aggiunta mia per la seconda pagina insieme vediamo se tenerla o cambiarla, Carmine*/ 
}

.bodyDiv {
    color: white;
    /* colore bianco alle scritte, Luca */
    padding: 4% 8%;
}

.mainFeed {
    text-align: center;
    font-size: 1.8em;
}

.mainFeed p {
    margin: 2rem 10rem;
    font-weight: 100;
}

.logo {
    height: 3em;
    /* imposto la grandezza del logo, Luca */
    margin-left: 6%;
    margin-bottom: 4%;
}

span {
    font-weight: bold;
    /* ogni span sara grassetto, Luca */
}


.title-first-page {
    /* formattazione titolo pagina principale */
    font-size: 120px;
    line-height: 100px;

}

.title_allPages h1 {
    font-size: 60px;
    font-weight: bold;
    line-height:30px ;
}

#instructions {
    color: #C2158E;
    /* colore dell'instruction prima pagina, Luca */
    font-size: 3em;
    font-weight: bold;
}

.instructionsText {
    margin-right: 20em;
    font-size: 1.5em;
}

main,
.logo-img {
    /* margini da applicare presumibilmente a tutte le pagine, Luca */
    margin-left: 7%;
    margin-top: 3%;
}

ul {
    line-height: 25px;
    margin-bottom: 4em;
}

.indexButton {
    float: right;
    margin-right: 7%;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    border: none;
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.feedbackButton {
    text-align: center;
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    border: none;
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    box-shadow: 0px 0px 21px 7px rgba(43, 210, 255, 0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
}

input[type="checkbox"] {
    display: none;
}

.personalCheckbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #cccccc00;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 1.5em;
}

.personalCheckbox:after {
    content: "⅃";
    color: #920869;
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #920869;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked+.personalCheckbox {
    background-color: #8208923f;
}


input[type="checkbox"]:checked+.personalCheckbox:after {
    display: inline-block;
}

form p {
    display: inline-block
}

.rate {

    height: 65px;
    padding: 0 10px;
    text-align: center;
    margin-bottom: 7rem;
    /*display: flex;
    flex-direction: row-reverse; 
    align-items: center; 
    justify-content: center; per far apparire in ordine inverso, Carmine*/

}

.rate:not(:checked)>input {
    position: absolute;
    display: none;
}

.rate:not(:checked)>label {

    /* width: 5em; */
    
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 75px; 
    color: #00FFFF;
    /*color: white; Carmine*/
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

/*.rate:not(:checked)>label:hover,*/
/*eliminata questa regola per far apparire la stella blu con hover, Carmine*/
.rate:not(:checked)>label:hover~label {
    /*color: #00FFFF; Carmine*/
    color: white;
}

#feedback {
    width: 60rem;
    background-color: transparent;
    border: none;
    outline: none;
    align-self: left;
    border-bottom: #C2158E solid 2px;
    margin: 1em 0;
    font-size: 23px;
    padding: 0.5em 2em;
}

/*css di javascript vediamo cosa tenere per forza e cosa modificare*/

@keyframes circletimer {
    0% {
      stroke-dashoffset: 500;
      stroke-dasharray: 500;
    }
    100% {
      stroke-dashoffset: 0;
      stroke-dasharray: 500;
    }
  }
  
  svg {
    background-color: transparent;
    position: absolute;
    top: 20%;
    left: 80%;
    transform: translate(-50%, -50%) rotateZ(-90deg);
    
  }
  
  svg .circle {
    stroke: rgba(188, 0, 84, 1);
    stroke-width: 20;
    fill: transparent;
    stroke-dashoffset: 500;
    stroke-dasharray: 0;
    animation: 10s circletimer linear infinite;
  }
  
  #timer p {
    position: absolute;
    display: block;
    top: 15.5%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: rgba(188, 0, 84, 1);
    font-size: 42px;
    font-weight: 700;
  }


  #myDoughnutChart {
    max-width: 300px;
    max-height: 300px;

}
.answersDiv {
    display: inline-block;
    text-align: center;
    align-content: center;
    width: 350px;
    height: 80px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    margin: 30px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.answersDiv:hover {
    background-color: rgba(255, 255, 255, 0.11);
}

.click {
    background-color: #CB2376;
}

.click:hover {
    background-color: #fc1c8c;
}



#countQuestions span {
    color: #C2158E;
}
