* {
    font-family: "Inter", sans-serif;
    /* font fornito dal prof, Luca */
    font-weight: 350;
    /* grossezza del testo per differenziarlo dal grasstto, Luca */
}

@font-face {
    font-family: "Inter";
    src: url("/assets/font/Inter-Regular.ttf") format("regular");
    src: url("/assets/font/Inter-Black.ttf") format("black");
    src: url("/assets/font/Inter-Bold.ttf") format("bold");
    src: url("/assets/font/Inter-Light.ttf") format("light");
    src: url("/assets/font/Inter-Medium.ttf") format("medium");
    src: url("/assets/font/Inter-Thin.ttf") format("thin");

    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("../img/bg.jpg");
    /* carico l'immagine di sfondo, Luca */
    background-size: cover;
    /* cover = copre la grandezza del body, Luca */
}

.bodyDiv {
    /* ho tolto il punto prima di body, Luca */
    color: white;
    /* colore bianco alle scritte, Luca */
    padding: 4% 5%;
}

.logo {
    height: 4em;
    /* imposto la grandezza del logo, Luca */
    margin-left: 6%;
    margin-bottom: 4%;
}

span {
    font-weight: bold;
    /* ogni span sara grassetto, Luca */
}


.title-first-page {
    /* formattazione titolo pagina principale */
    font-size: 120px;
    line-height: 100px;

}

#instructions {
    color: #C2158E;
    /* colore dell'instruction prima pagina, Luca */
    font-size: 3em;
    font-weight: bold;
}

.instructionsText {
    margin-right: 30em;
    font-size: 1.5em;
    word-wrap: break-word;
}

main,
.logo-img {
    /* margini da applicare presumibilmente a tutte le pagine, Luca */
    margin-left: 7%;
    margin-top: 3%;
}

ul {
    line-height: 25px;
}

#btnPromise {
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43,210,255,0.5); 
    box-shadow: 0px 0px 21px 7px rgba(43,210,255,0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
    
}

input[type="checkbox"] {
    display: none;
}

.personalCheckbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #cccccc00; 
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}

.personalCheckbox:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #920869; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked + .personalCheckbox {
    background-color: #8208923f; 
}


input[type="checkbox"]:checked + .personalCheckbox:after {
    display: block;
}

#instructions {
    color: #C2158E;
    /* colore dell'instruction prima pagina, Luca */
    font-size: 3em;
    font-weight: bold;
}

.instructionsText {
    margin-right: 30em;
    font-size: 1.5em;
    word-wrap: break-word;
}

main,
.logo-img {
    /* margini da applicare presumibilmente a tutte le pagine, Luca */
    margin-left: 7%;
    margin-top: 3%;
}

ul {
    line-height: 25px;
}

#btnPromise {
    background-color: #00FFFF;
    color: black;
    -webkit-box-shadow: 0px 0px 21px 7px rgba(43,210,255,0.5); 
    box-shadow: 0px 0px 21px 7px rgba(43,210,255,0.5);
    padding-left: 2.5em;
    padding-right: 2.5em;
    
}

input[type="checkbox"] {
    display: none;
}

.personalCheckbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #cccccc00; 
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle;
}

.personalCheckbox:after {
    content: "";
    position: absolute;
    display: none;
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid #920869; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


input[type="checkbox"]:checked + .personalCheckbox {
    background-color: #8208923f; 
}


input[type="checkbox"]:checked + .personalCheckbox:after {
    display: block;
}